.App {
  text-align: center;
}


.search{
  margin: 30px;
  padding: 15px;
  width: 500px;
  border: 1px solid rgb(48, 47, 47);
  border-radius: 25px;
}

.but{
  padding: 15px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid rgb(48, 47, 47);
  width: 150px;
  background-color: rgba(0, 0, 0, 0.795);
  color: aliceblue;

}

.searchwithbut{
  margin: 30px 0px 30px 0px;
  padding: 15px;
  width: 500px;
  border: 1px solid rgb(48, 47, 47);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}